:root {
  --color-red: #FF0000;
  --color-green: #4cbb17;
  --color-yellow: #FCCF00;
  --color-blue: #009BD9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Mario';
  src: url('../fonts/SuperMario256.ttf');
  font-weight: normal;
  font-style: normal;
}

/* ---------------------- Menu ---------------------- */

.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.menu > h1 {
  font-family: 'Mario';
  font-size: 72px;
  margin-top: 12vh;
}

.menu > h1 > .m {
  color:var(--color-red)
}
.menu > h1 > .a {
  color:var(--color-green)
}
.menu > h1 > .r {
  color:var(--color-yellow)
}
.menu > h1 > .i {
  color:var(--color-blue)
}
.menu > h1 > .o {
  color:var(--color-green)
}
.menu > h1 > .run {
  color:var(--color-red)
}
.menu > h1 > .ner {
  color:var(--color-green)
}

.menu > .btn-start-game {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  padding: 16px;
  margin-top: 30px;
  font-family: 'Mario';
  font-size: 50px;
  color: var(--color-green);
  width: 210px;
  height:83px;
  border-radius: 30px;

}
.menu > .btn-start-game::before {
  content: '▶';
  margin-right: 5px;
  color: var(--color-red);
}

.menu > .btn-start-game:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  transition: ease 500ms;
}


/* ---------------------- Game Board ---------------------- */

.game-board {
  width: 100vw;
  height: 50vh;
  border-bottom: 15px solid rgb(13, 160, 35);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#87CEEB, #E0F6FF)
}

.pipe {
  position: absolute;
  bottom: 0;
  width: 80px;
  animation: pipe-animation 1.5s infinite linear;
}

.mario {
  position: absolute;
  width: 150px;
  bottom: 0;
}

.clouds {
  position: absolute;
  z-index: 0;
  width: 30vw;
  animation: clouds-animation 10s linear infinite;
}

.jump {
  animation: jump 500ms ease-out;
}

@keyframes pipe-animation {
  from {
    right: -80px;
  }
  
  to {
    right: 100%
  }
}

@keyframes jump {
  0% {
    bottom: 0;
  }

  40% {
    bottom: 180px;
  }

  60% {
    bottom: 180px;
  }

  100% {
    bottom: 0px;
  }
}

@keyframes clouds-animation {
  from {
    right: -550px
  }

  to {
    right: 100%
  }

}

/* ---------------------- Score ---------------------- */

.score {
  background-image: url('../images/background.jpg');
  background-size: contain;
  width: 100vw;
  height: 50vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  font-family: 'Mario';
}

.score > .current {
  margin-top: 17vh;
  margin-bottom: 20px;
  font-size: 52px;
  text-shadow: 4px 3px black;
  color: var(--color-red);
}

.score > .best {
  color: var(--color-green);
  font-size: 24px;
  text-shadow: 4px 3px black;
}
